<section>
    <div class="big-div">
        <div class="image-div">
          <img src="assets/images/imageee.png" alt="Customer Support" />
        </div>
        <div class="info-div">
          <h2 class="get-in-touch">Get in Touch</h2>
          <p class="text-div">
            Have questions about our programs, admissions process, or school life?
            We're here to help! At Bright Horizons School, we believe in open
            communication and are always ready to assist you. Whether you'd like to
            schedule a campus tour, speak with our admissions team, or simply learn
            more about what makes our school unique, we're just a message or call
            away.
          </p>
          <br>
          <br>
          <br>
          <p class="details"><strong>Address:</strong> Bright Horizons School, 123 Sunshine Avenue, Greenwood City, CA 90210, United States</p>
          <br>
          <p class="details"><strong>Phone:</strong> +1 (555) 123-4567</p>
          <p class="details"><strong>Email:</strong> <a href="mailto:info@brighthorizonsschool.com"></a>info&#64;brighhorizonschools.com</p>
          
        </div>
     
      </div>


      <div class="footer">
        <div class="logo">
          <img src="assets/logos/Logo.svg" alt="">
          <p class="update-text">Stay up to date with our newsletter</p>

        </div>
        <br>
        <div class="newsletter">
          <ul>
            <li>Home</li>
            <li>About us</li>
            <li>Program</li>
            <li>Contact Us</li>
          </ul>
          <div class="sub">
            <input class="email" type="email" placeholder="Enter your email"/>
            <button class="Subscribe">Subscribe</button>
          </div>
        </div>
        <br>
        <div class="foot-word">
          <div>
            <p class="last-word">2023 Bright Horizons School. All Rights Reserved </p>
          </div>
          <div class="footer-links">
            <ul>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
</section>





