<section>
    <div class="programs-container">
        <h2 class="text">Our Programs</h2>
        <div class="first-section">
            <div class="second-section">
              <img src="assets/images/primaryimg.png" alt="PRIMARY SCHOOL" class="program-image">
              <h3>PRIMARY SCHOOL</h3>
              <p>Years 3-6 | Ages 7-11</p>
            </div>
            <div class="second-section">
              <img src="assets/images/middlesch.png" alt="MIDDLE SCHOOL" class="program-image">
              <h3>MIDDLE SCHOOL</h3>
              <p>Years 7-9 | Ages 11-14</p>
            </div>
            <div class="second-section">
              <img src="assets/images/snrsch.png" alt="SENIOR SCHOOL" class="program-image">
              <h3>SENIOR SCHOOL</h3>
              <p>Years 10-11 | Ages 14-16</p>
            </div>
            <div class="second-section">
              <img src="assets/images/highsch.png" alt="SIXTH FORM" class="program-image">
              <h3>SIXTH FORM</h3>
              <p>Years 12-13 | Ages 16-19</p>
            </div>
          </div>
    </div>
</section>

    
    
  