<div class="password-container">
    <div class="logo">
        <img src="assets/logos/Logo.svg" alt="Logo">
    </div>
    <div class="password-form-card">

    <div class="headline">
        <h1>Create a new password</h1>
        <p class="subtitle">Please provide a new password.</p>
    </div>
      
      <form >
        <div class="form-group">
          <label for="password">Password</label>
          
          <div class="password-input-container">
            <input type="password" class="password">
          </div>
        </div>
        
        <div class="form-group">
          <label for="confirmPassword">Confirm password</label>
          <div class="password-input-container">
            <input type="password" class="password">
          </div> 
        </div>
        
        <div class="password-requirements">
          <div class="requirement" >
            <span class="requirement-icon"></span>
            <span> characters</span>
          </div>
          
          <div class="requirement" >
            <span class="requirement-icon"></span>
            <span>Uppercase</span>
          </div>
          
          <div class="requirement" >
            <span class="requirement-icon"></span>
            <span>Lowercase</span>
          </div>
          
          <div class="requirement" >
            <span class="requirement-icon"></span>
            <span>Number</span>
          </div>
          
          <div class="requirement" >
            <span class="requirement-icon"></span>
            <span>Special character</span>
          </div>
        </div>
        
        <a href="/new-password-created" type="submit" class="create-password-btn" >
          Create new password
        </a>
      </form>
    </div>
    
    <div class="background-image">
      <!-- This will be styled with CSS -->
    </div>
  </div>
