.password-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .password-form-card {
    width: 50%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    /* margin-bottom: 40px; */
  }
  
  .background-image {
    width: 50%;
    background-image: url('../../../../public/assets/images/background.png');
    background-size: cover;
    background-position: center;
  }
  
  .logo {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  
  .logo img {
    height: 32px;
  }
  
  h1 {
    font-size: 24px;
    color: #000;
    margin-bottom: 0.5rem;
  }
  
  .headline {
    line-height: 24px;
    gap: 20px;

  }


  .subtitle {
    color: #555;
    margin-bottom: 2rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  .form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .password-input-container {
    position: relative;
    gap: 10px;
  }

  .password {
    width: 400px;
    border: 1px solid #F4F4F4;
    padding: 16px;
    background-color: #F7F7F74D;
  }
  
  .password-requirements {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
    gap: 12px;
  }
  
  .requirement {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    width: 20
  }
  
  
  .requirement-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* width: 28px;
    height: 16px; */
    margin-right: 8px;
    font-size: 12px;
  }
  
  .create-password-btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    padding: 0.75rem;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .create-password-btn:disabled {
    background-color: #777;
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    .password-container {
      flex-direction: column;
    }
    
    .password-form-card {
      width: 100%;
      padding: 2rem;
    }
    
    .background-image {
      display: none;
    }
    
    .requirement {
      width: 100%;
    }
  }