<div class="signup-container">
    <div class="left-panel">
      <div class="logo-container">
        <div class="logo">
            <img src="assets/logos/Logo.svg" alt="">
        </div>
        <div class="sign-in-link">
            <span>Already have an account?</span>
            <a href="#">Sign in</a>
          </div>
      </div>
      
      <div class="content">

        
        <div class="signup-form">
          <h1>Let's get you started.</h1>
          <p>Create an account to get started.</p>
          
          <div class="form-options">
            <button class="google-btn">
              <img src="assets/logos/google.svg" alt="Google icon">
              Continue with Google
            </button>
            
            <div class="divider">
              <span>or</span>
            </div>
            
            <a class="email-btn" href="/sign-up-email
            ">Continue with email</a>
            
            <div class="terms">
              <p>By continuing, you agreeing to our 
                <a href="#" style="color: #F59E0B;">Terms of Use</a> and 
                <a href="#" style="color: #F59E0B;">Privacy Policy</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="right-panel">
      <!-- This will be the background image with the chalkboard, books, globe, and apple -->
    </div>
  </div>
