<section>
    <div class="main-div">
        <button class="button">whats next</button>
        <div class="other-text">
            <h1 class="headline">Join The Bright Horizon School</h1>
            <p>At Bright Horizons School, we're more than just a school—we're a community dedicated to helping every child reach their full potential. With our innovative programs, experienced faculty, and supportive environment, your child will gain the skills and confidence they need to succeed in school and beyond.</p>

            <p>Don't wait to give your child the gift of an exceptional education. Whether you're looking for a nurturing preschool, a challenging elementary program, or a comprehensive high school experience, Bright Horizons is here to help your child shine.</p>
        </div>
        <div class="CTA">
            <button class="enroll-now">ENROLL NOW</button>
            <button class="contact-us">Contact Us </button>
        </div>
    </div>
</section>
