.page-container {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .verification-container {
    width: 50%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
  }
  
  .logo-container {
    /* padding: 20px 0; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .logo {
    width: 50px;
    border-radius: 4px;
  }
  
  .account-links {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: 80px;
  }
  
  .sign-in-link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
  
  .verification-content {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000;
  }
  
  .instruction {
    color: #666;
    margin-bottom: 30px;
  }
  
  .otp-input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .otp-input {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    font-size: 24px;
  }
  
  .verify-button {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
  .back-link {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #666;
    margin: 0 auto;
  }
  
  .back-arrow {
    font-size: 18px;
  }
  
  .background-image {
    width: 50%;
    background-image: url('../../../../public/assets/images/background.png');
    background-size: cover;
    background-position: center;
  }


  .main-box {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .box {
    background-color: #F7F7F74D;
    border: 1px solid #F4F4F4;
    width: 72px;
    height: 80px;
    padding: 16px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  input {
    outline: none;
  }

  
  
  /* Make the page responsive */
  @media (max-width: 768px) {
    .page-container {
      flex-direction: column;
    }
    
    .verification-container {
      width: 100%;
      padding: 20px;
    }
    
    .background-image {
      width: 100%;
      height: 200px;
    }
  }
  
  