<div class="verification-container">
  <div class="logo-container">
    <img src="assets/logos/Logo.svg" alt="B&H Logo" class="logo">
  </div>
  <div class="verification-box">

    
    <h1>Check your mail.</h1>
    
    <p class="instructions">
      Please provide the OTP shared with {{'example@gmail'}}.com below.
    </p>
    
    <form>
      <div class="otp-input-container">
        <input type="text" formControlName="otpCode" class="otp-input" placeholder="">
      </div>

      <div class="main-box">
        <input type="text" class="box">
        <input type="text" class="box">
        <input type="text" class="box">
        <input type="text" class="box">
        <input type="text" class="box">
      </div>
      
      <div class="resend-link">
        Didn't get the code? <a href="javascript:void(0)">Resend</a>
      </div>
      
      <a href="/create-password"type="submit" class="verify-button">
        Verify
      </a>
    </form>
    
    <div class="back-link">
      <a href="javascript:void(0)" class="back-to-login">
        <span class="arrow">←</span> Back to login
      </a>
    </div>
  </div>
  
  <div class="image-container">
    <!-- This div will have the background image -->
  </div>
</div>